.container {
  margin-top: 50px;
  .container__header {
    display: flex;
    justify-content: space-between;
    h2 {
      font-weight: 400;
    }
    button {
      margin-left: 10px;
      width: 150px;
      height: 43px;
      background: #42b4f4;
      border-radius: 5px;
      font-size: 18px;
      line-height: 23px;
      color: #ffffff;
      border: none;
      @media (max-width: 555px) {
        max-width: 100%;
      }
      &:hover {
        background-color: #68c9ff;
        transition: all 0.5s ease;
        color: #ffffff;
      }
    }
  }
  .content {
    .content__search {
      margin-top: 30px;
      display: flex;
      align-items: center;
      input {
        width: 482px;
        height: 60px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 4px 10px;
        @media (max-width: 555px) {
          width: 95%;
        }
      }
      svg{
        width: 30px;
        height: 30px;
        margin-left: 10px;
      }
    }
    .content__deleteDiv {
      display: flex;
      justify-content: flex-end;
      .content__delete {
        width: 150px;
        height: 43px;
        background: #ee4b2b;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 18px;
        line-height: 23px;
        color: #ffffff;
        border: none;
        @media (max-width: 555px) {
          max-width: 100%;
        }
        &:hover {
          transition: all 0.5s ease;
          color: #ffffff;
          background-color: #880808;
        }
      }
    }
    .content__list {
      
    }
  }
}
