.companies {
  padding-top: 20px;
  .title{
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    margin-top: 20px;
  }
  .companies__category {
    margin-top: 50px;
    position: relative;
    .companies__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      max-width: 100%;
      @media (max-width: 555px) {
        font-size: 20px;
      }
    }
    input {
      margin-top: 30px;
    }
    .companies__input {
      width: 482px;
      height: 60px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      margin-top: 30px;
      padding: 4px 10px;
      @media (max-width: 555px) {
        width: 400px;
      }
      @media (max-width: 455px) {
        width: 100%;
      }
    }
    .companies__select__container {
      display: flex;
      align-items: center;
      .companies__accor {
        width: 227px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin-top: 30px;
        cursor: pointer;
        span {
          cursor: pointer;
        }
      }
      .add__svg {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 20px;
        cursor: pointer;
      }
    }
    .file__name{
      max-width: 90%;
      font-size: 16px;
      overflow: hidden;
      color: #42b4f4;
      margin-top: 10px;
    }
  }
}
