.table__container {
  width: 100%;
  @media (max-width: 600px) {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 7px;
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      width: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  table {
    width: 100%;
    margin-top: 10px;
    .body__tr {
      border-bottom: 1px solid #aaa;
      &.checked {
        background-color: #68c9ff;
        cursor: pointer;
        color: #fff;
      }
      td {
        padding: 0 10px 0 10px;
        height: 50px;
        font-size: 20px;
        input {
          width: 20px;
          height: 20px;
        }
      }
      .main_field {
        cursor: pointer;
        &:hover {
          color: #68c9ff;
        }
      }
    }
    .header__tr {
      border-bottom: 1px solid #aaa;
      th {
        font-size: 22px;
        padding: 0 10px 0 10px;
        font-weight: 500;
        height: 60px;
        input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
